.page-footer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.page-footer__social {
  display: flex;
  align-items: center;
  min-width: 160px;
  margin-bottom: 20px;
  margin-left: auto;
}

.page-footer__links {
  width: 100%;
  padding: 20px 20px 0 20px;
  border-top: 1px solid var(--color-base-grey);
}

.page-footer__link:not(:last-child) {
  margin-bottom: 4px;
}
