.range__scale {
  position: relative;
  height: 18px;
  margin-left: 10px;
  padding-bottom: 17px;

  &::before {
    content: "";
    position: absolute;
    top: 8px;
    right: 0;
    bottom: 8px;
    left: 0;
    background-color: #dcdcdc;
  }
}

.range__toggle {
  position: absolute;
  top: -8px;
  z-index: 2;
  width: 24px;
  height: 24px;
  background-color: var(--color-base-white);
  border: 2px solid var(--color-primary-lighter);
  border-radius: 50%;
  cursor: pointer;
}

.range__toggle--min {
  left: -10px;
}

.range__toggle--max {
  right: -10px;
}

.range__bar {
  position: absolute;
  top: 8px;
  left: 0;
  height: 2px;
  background-color: var(--color-primary-lighter);
}

.range__inputs--wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 280px;
  margin-top: 13px;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 2px;
    margin-top: -1px;
    margin-left: -5px;
    background-color: var(--color-base-grey);
  }
}

.range__input {
  .form-text();

  box-sizing: border-box;
  max-width: 118px;
  min-height: 38px;
  font-weight: 500;
  font-family: inherit;
  text-align: center;
  background-color: var(--color-base-white);
  border: 2px solid var(--color-primary-lighter);
  border-radius: 4px;
  appearance: textfield;
}
