.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: var(--color-base-black);
}

.caption {
  .control-text();

  margin: 6px 0 5px 0;
  font-weight: 700;
  color: var(--color-base-primary);
  letter-spacing: 0.04em;
}

.catalog,
.card,
.pagination {
  background-color: var(--color-lightest-grey);
}
